[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib/
[submodule "vendor/cunity"]
	path = vendor/cunity
	url = https://gitlab.com/cunity/cunit.git
[submodule "vendor/sqlite"]
	path = vendor/sqlite
	url = https://github.com/sqlite/sqlite.git
